$main-blue-color: #0088cc;
$light-color: #fff;
$grey-color: #888;
$dark-grey-color: #333;
$content-page-width: 1600px;
$default-font-size: 20px;
$default-title-font-size: 30px;
$default-small-font-size: 15px;